/* Coursera Input */ 

body {
    background-color: #edefee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {font-size: 2rem;}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
    background-color: grey;
    margin-left: 6%;
    margin-right: 6%;
}

article {
    flex: 1;
    background-color: grey;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
}

/* Our Input */

header {
    background-color: black;
    padding: 1rem;
    margin-left: -6%;
    margin-right: -6%;
    margin-top: -3rem;
}

nav {
    background-color: black;
    padding-top: 0.5%;
    padding-bottom: 0.2%;
    margin-left: -6%;
    margin-right: -6%;
}

article h1, h2, p {
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: justify;
}

main {
    background-color: grey;
    margin-left: -6%;
    margin-right: -6%;
}

